$bg: #ecf0f1;
$white: #ffffff;
$red_primary: #ee4054;

$black: #000;
$dark_gray: #333;
$gray: #666;
$light_gray: #c5c5c5;

$filter_light_gray: #D6D6D6;
$filter_box: #F0F0F0;
$filter_box_border: #D6D6D6;

$tab_line: #e1e6ea;
$tab_highlight_line: #C2686A;
$tab_text: #909291;
$tab_highlight_text: #373451;

$box-margin-bottom: 7px;
